/* This document contains the style for Rick's Personal website.

Colors:
Teal #00B497
Mint: #B7EDA3
Highlighter: #E2E729
Red #B12028
Black #101820
*/

/* Imported fonts */

@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* Base Element Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  float: right;
  margin-bottom: 0px;
  padding: 0em;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

body {
  background-image: url("./img/Rick.jpg");
  background-repeat: no-repeat;
  position: center top;
  font-family: 'montserrat';
  font-size: 1em;
  color: #fff;
  line-height: 1.6;
  background-color: #101820;
  display: flex;
  flex-wrap: wrap;
}

main {
  background-color: none;
  padding: 1px 20px 20px 20px;
  max-width: inherit;
}

footer {
  font: "montserrat" 2px #fff;
  text-align: right;
  line-height: 1.6;
  padding: 2em;
  background-color: #00B497;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

p {
  font: "montserrat" 1em #fff;
}

a {
  color: #E2E729;
  text-decoration: none;
}

a:hover {
  color: #00B497;
  opacity: 0.5;
}

a:visited {
  color: #E2E729;
}

h1 {
  font: 3em "permanent marker" #E2E729;
  display: block;
  margin-block-start: 0.75em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  font: 2em "permanent marker" #00B497;
  display: block;
  margin-block-start: 0.75em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* Selectors */

img[src$=".png"] {
  width: 30px;
  height: 30px;
}

/* Pseudo-Elements */

header::before {
  content: url("./img/Rick.jpg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center top;
}

/* IDs */

#header-image {
  box-sizing: inherit;
  align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Navigation */

.topnav {
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .5em .5em 0em .5em;
  width: relative;
}

.topnav a {
  float: right;
  padding: 0em 8px;
  border-radius: 12px;
}

/* Structural */

.container {
  display: block;
  text-align: "center";
  width: "inherit";
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 33.33%;
}

.footer {
  font: "montserrat" .25em #fff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries */

/* Desktop */

@media all and (min-width: 1030px) {

  .header{
    flex-direction: row;
  }

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    margin: 0 auto;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Tablet */

@media all and (max-width: 769px){

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 85%;
    margin: 0 auto;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Cell Phone*/
@media screen and (max-width: 300px) {

  .column {
    width: 100%;
  }

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 95%;
    margin: 0 auto;
    padding-left: none;
    padding-right: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}
